@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Reem+Kufi:wght@700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.hover\:text-orange-300[data-state=open] {
    --tw-text-opacity: 1;
    color: rgb(253 186 116 / var(--tw-text-opacity));
}

.arrowOnTop {
    margin-top: 10px
}

.arrowOnTop::before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: -7px;
    left: 1rem;

    background: rgb(229 229 229 / var(--tw-bg-opacity));
    border-top: 2px solid rgb(64 64 64 / var(--tw-border-opacity));
    border-left: 2px solid rgb(64 64 64 / var(--tw-border-opacity));

    transform: rotate(45deg);
}

@responsive {
  .text-custom-right { 
    text-align: right;
   }
}
